body{
    padding: 30px 350px 50px;
    background-color:#f3f9fb;
}

.heading{
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}
.heading h1{
    margin-bottom: 0;
}
p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 35px;
}

.heading img{
    box-shadow: 5px 5px 15px rgb(173, 172, 172);
}
.form{
    padding:10px;
    border: 2px solid ;
    box-shadow: 8px 8px 10px grey;
    background-color: white;
}

.webinar-form{
    background-color: whitesmoke;
    font-size: 17px;
}
.submit{
    display:flex;
    justify-content: center;
}
input[type="submit"]{
    width: 150px;
    height:30px;
    font-weight: bold;
    background-color:#fff;
}


input[type="submit"]:hover{
    background-color:rgb(214, 214, 214);
}